{
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-react-jsx"
  ],
  "presets": [
    "es2015", "react"
  ],
  "sourceMaps": true
}
