{
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "standard",
    "standard-preact"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "always"]
  }
}
