.hotpot.app .client {
  align-items: stretch;
  background-color: ghostwhite;
  border-radius: 6px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
  height: 600px;
  justify-content: space-between;
  position: fixed;
  width: 320px;
  z-index: 1010;
  -webkit-font-smoothing: subpixel-antialiased;

  >.body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    font-size: small;
    justify-content: space-between;
  }

  >.footer {
    align-items: stretch;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 42px;
    justify-content: space-between;
    min-height: 42px;

    input {
      border: none;
      flex-grow: 2;
      outline: none;
    }
  }

  >.header {
    align-items: stretch;
    background-color: dodgerblue;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: 300;
    height: 130px;
    justify-content: space-between;
    max-height: 130px;
    min-height: 130px;
    overflow: inherit;

    .row.agent {
      align-items: center;
      height: 32px;
      justify-content: space-between;

      img.close {
        margin-right: 8px;
      }

      .logo {
        align-items: center;
        background-color: white;
        border: 3px solid dodgerblue;
        border-radius: 46px;
        display: flex;
        flex-direction: column;
        height: 72px;
        justify-content: center;
        min-height: 72px;
        min-width: 72px;
        overflow: hidden;
        width: 72px;
        z-index: 100;
      }

      .logo img {
        height: 70%;
        width: 70%;
      }

      .logo.external img {
        height: 100%;
        width: 100%;
      }

      .title {
        flex-grow: 2;
        font-size: large;
        font-weight: 600;
        margin-left: 8px;
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
      }
    }

    .controls {
      align-items: center;
      font-size: small;
    }

    .row.hello {
      margin: 24px 16px 16px 16px;
    }

    button {
      background-color: rgba(0,0,0,0.1);
      border: 1px solid transparent;
      color: white;
      margin: 2px;
      padding: 8px;
    }

    img.close {
      height: 16px;
      width: 16px;
    }

    .row {
      justify-content: space-between;
      margin: 8px;
    }
  }
}

.hotpot.app .row {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.hotpot.app .row.hidden {
  display: none;
}

.hotpot.app .scrollable {
  overflow: scroll;
  scroll-behavior: smooth
}
