.events {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  .body {
    flex-grow: 2;
    overflow: scroll;
  }

  .footer {
    background-color: white;
    display: flex;
    height: 64px;
    max-height: 64px;
    min-height: 64px;
    padding: 0 16px;
  }

  .event {
    align-items: stretch;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin: 8px;
    min-height: 32px;
  }
  .event:hover {
    background-color: white;
  }
  .event:first-child {
    margin-top: 16px;
  }
  .event:last-child {
    margin-bottom: 16px;
  }
  .event .meta {
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    font-size: x-small;
    justify-content: space-between;
    padding-bottom: 4px;
  }

}
