.events {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  >.body {
    flex-grow: 2;
    overflow: scroll;
  }

  >.footer {
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    height: 42px;
    max-height: 42px;
    min-height: 42px;

    div.control.screenshot {
      margin-left: 8px;
      margin-right: 16px;
      opacity: 0.7;
    }
    div.control.screenshot:hover {
      opacity: 1;
      transition: all 1s ease-in-out;
    }

    form {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      flex-grow: 2;
    }

    form input {
      border: none;
      flex-grow: 2;
      outline: none;
      padding: 0 16px;
    }
  }

  .event {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    display: block;
    padding: 8px;
    margin: 8px;
  }
  .event:hover {
    background-color: white;
  }
  .event:first-child {
    margin-top: 16px;
  }
  .event:last-child {
    margin-bottom: 16px;
  }
  .event .meta {
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    font-size: x-small;
    justify-content: space-between;
    padding-bottom: 4px;
  }

  .event.answer {
    margin-left: 32px;
  }

  .event.change {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.1);
  }

  .event.question {
    background-color: aliceblue;
    border: 1px solid lightblue;
  }
  .event.question .content {
    padding: 8px 0;
  }
  .event.question .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .event.question .header .icon {
    opacity: 0.5;
  }
  .event.question .header .title {
    font-size: x-small;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

}

.modal.screenshot {
  align-items: stretch;
  background-color: white;
  bottom: 64px;
  display: flex;
  flex-direction: column;
  left: 64px;
  position: fixed;
  right: 64px;
  top: 64px;

  .modal-body {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 2;

    .preview {
      background-color: rgb(30,30,30);
      flex-grow: 2;
    }
    .sidebar {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 240px;
      width: 240px;

      .inset {
        margin: 16px;
      }
      .tools {
        background-color: lightgray;
      }
    }
  }

}
