.hotpot.app {
  bottom: 0;
  box-sizing: border-box;
  color: rgb(51,51,51);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
  position: fixed;
  right: 0;
  z-index: 999;
  -webkit-font-smoothing: subpixel-antialiased;
}
